*.o
*.a
*.so
*.exe
*.out
*.obj
*.dll
*.lib
*.dylib

/CMakeFiles
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/CTestTestfile.cmake
/.idea/
cmake-build-debug/
cmake-build-release/

*.log

.idea/
*.iml
*.iws
*.swp
*.swo
*.vscode/

*.user
*.userprefs
*.sublime-workspace
*.sublime-project
*.stack-work/

# Для Windows
Thumbs.db
Desktop.ini

# Для macOS
.DS_Store
